@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
 
  body {
    font-family:'Crimson Text', serif;
    font-size: 40px;
    color: rgb(47, 28, 31);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../images/quiz1.webp);
    background-size: cover;
    background-color: rgb(226, 191, 203);
  }
 h2{
    color: rgba(24, 85, 241, 0.939);
    font-family:'Crimson Text', serif;
    text-shadow: 1px 2px;
    text-align: center;
    padding: 5px;
    margin: 20px 0 10px 0  
}


  .container {
    width: 800px;
    max-width: 80%;
    background-color: rgba(211, 167, 167, 0.92);
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0 20px 0;
    box-shadow: 0 0 14px 5px;
  }
  #intro{
    color: rgba(12, 68, 24, 0.936);
    text-align: left;
   line-height: 25px;
    font-family:'Crimson Text', serif;
    font-size: 30px;
  }

  .options{
    display: grid;
    gap: 5px;
    margin: 15px 25px 15px 25px;
  }
  
  .ans {
   color: beige;
    border: 1px solid black;
    background-color: rgba(79, 193, 177, 0.893);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    list-style-type: decimal;
  }
  
  .ans:hover {
    background-color: blueviolet;
    border-color: rgba(110, 149, 187, 0.703);
  }

  #btn-starts, #btn-submits{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border: 5px;
    background-color: blueviolet;
  }
 
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .scores {
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
color: rgba(24, 85, 241, 0.939);
  }
  
  .absent {
    display: none;
  }
  .ans.correct {
    background-color: rgb(50, 129, 50);
    pointer-events: none;
  }
  
  .ans.wrong {
    background-color: rgb(194, 54, 54);
    pointer-events: none;
  }
   /*  media query for  screen 600px and down */ 
@media screen and (max-width: 600px) {
  h2{
    margin: 1em 0 0 0;;
  }
}