@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
 
  body {
    font-family:'Crimson Text', serif;
    font-size: 40px;
    color: rgb(47, 28, 31);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 191, 203);
    background-image: url(/assets/images/quiz1.webp);
    background-size: cover;
  }
 h2{
    color: rgb(0, 85, 128);
    font-family:'Crimson Text', serif;
    text-transform: capitalize;
text-shadow: 2px 2px;
  }

  .container {
    width: 800px;
    max-width: 80%;
    background-color: rgba(211, 167, 167, 0.92);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .options{
    display: grid;
    gap: 20px;
    margin: 15px 25px 15px 25px;
  }
  
  .ans {
   color: beige;
    border: 1px solid black;
    background-color: rgba(79, 193, 177, 0.893);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    list-style-type: decimal;
  }
  
  .ans:hover {
    background-color: blueviolet;
    border-color: rgba(110, 149, 187, 0.703);
  }

  #btn-starts, #btn-submits{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border: 5px;
    background-color: blueviolet;
  }
 
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .scores {
display: flex;
flex-direction: row;
justify-content: space-between;

  }
  .absent {
    display: none;
  
  }
  .ans.correct {
    background-color: rgb(50, 129, 50);
  
  }
  
  .ans.wrong {
    background-color: rgb(194, 54, 54);
  }